<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <h1>CodeClan Pizza Shop</h1>
  <nav>
    <ul>
      <li> <a href="/pizzas">All Orders</a> </li>
      <li> <a href="/pizzas/new">Order a Pizza</a> </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
