<form action="/pizzas" method="POST">

  <label for="first-name-input">First Name:</label>
  <input id ="first-name-input"
    type="text" name="first_name" value="">

  <label for="last-name-input">Last Name:</label>
  <input id="last-name-input"
    type="text" name="last_name" value="">

  <label for="topping-select">Topping:</label>
  <select class="" name="topping" id="topping-select">
    <option value="Pepperoni">Pepperoni</option>
    <option value="Italian Sausage">Italian Sausage</option>
    <option value="Mushroom">Mushroom</option>
  </select>

  <label for="quantity-input">Quantity:</label>
  <input id="quantity-input"
    type="number" min="1" name="quantity" value="">

  <input type="submit" name="" value="Order Pizza">

</form>
